body {
  background-color: #383838;
}
.container {
  width: 820px;
  height: 100%;
  margin: 20px auto;
  text-align: center;
}
.container img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
