--- 
layout: default 
---
<button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
	<span class="hamb-top"></span>
	<span class="hamb-middle"></span>
	<span class="hamb-bottom"></span>
</button>
<div class="container">
	<div class="post-list">
	  {% for post in site.posts %}
	  <div>
		<h3>
		  <a href="{{ post.url }}" title="访问 {{ post.title }}" target="_blank">{{ post.title }}</a>
		</h3>
		<hr>
		<p>{{ post.excerpt }}</p>
		
		<span class="fa fa-calendar" style="font-size:16px">
			{{ post.date | date: "%Y-%m-%d" }}
		</span>&nbsp;&nbsp;
		<span class="fa fa-user" style="font-size:16px">
		{% if post.author %}
			{{ post.author }}
		{% endif %}
		</span>&nbsp;&nbsp;
		<span>
			{% if post.meta %} • {{ post.meta }}{% endif %}
		</span>&nbsp;
		<span class="fa fa-list-ul" style="font-size:16px">
		{% if post.categories %}
			{{ post.categories }}
		{% endif %}
		</span>&nbsp;&nbsp;
		<span class="fa fa-tags" style="font-size:16px">
		{% if post.tags %}
			{{ post.tags }}
		{% endif %}
		</span>		
	  </div>
	  {% endfor %}
	</div>
	
</div>
<!-- container end -->
