<div class="overlay"></div>
<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
  <ul class="nav sidebar-nav">
    <li class="sidebar-brand">
      <a href="http://wangwenfeng.cn" target="_blank">My Blog</a>
    </li>
    <li>
      <a href="http://wangwenfeng.cn" target="_self"><i class="fa fa-fw fa-home"></i> Home</a>
    </li>
    <li>
      <a href="/resume/index.html" target="_blank"><i class="fa fa-address-card"></i>个人简历</a>
    </li>
    <!-- <li>
      <a href="/about/index.html" target="_blank"><i class="fa fa-info-circle"></i> About me</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-fw fa-file-o"></i> Second page</a>
    </li> -->
  </ul>
</nav>
<!-- /#sidebar-wrapper -->
